*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --main-fontstyle: 'Poppins', sans-serif;
}

body{
    background-color: #161616;
    scroll-behavior: smooth;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    padding: 24px 24px;
    align-items: center;
    background-color: #161616;
    border-bottom: 2px solid rgb(125, 128, 132);
    overflow: hidden;
}

.my-profile{
    display: flex;
}

.navlist-my-profile{
    display: flex;
}

.profile-text{
    padding-left: 10px;
    padding-top: 5px;
}

.navlist-profile-text{
    padding-left: 10px;
    padding-top: 5px;
}

.profile-text h1, .my-field{
    font-size: 0.80rem;
    font-family: var(--main-fontstyle);
    font-weight: 300px;
}

.navlist-profile-text h1, .my-field{
    font-size: 0.80rem;
    font-family: var(--main-fontstyle);
    font-weight: 300px;
}

.profile-text h2{
    color: rgb(125, 128, 132);
}

.navlist-profile-text h2{
    color: rgb(125, 128, 132);
}

.profile-text h1{
    color: white
}

.navlist-profile-text h1{
    color: white
}

.my-image{
    height: 45px;
    border-radius: 50%;
    border: 1px solid;
    object-fit: cover;
    border-color: rgb(220, 95, 0); 
}

.navlist-my-image{
    height: 45px;
    border-radius: 50%;
    border: 1px solid;
    object-fit: cover;
    border-color: rgb(220, 95, 0); 
}

#menu-icon{
    font-size: 1.60rem;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid rgb(125, 128, 132);
    background-color:rgb(40, 40, 40);
    border-radius: 6px;
    color: rgb(125, 128, 132);
    padding: 3px 3px;
}

.navlist{
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: -100%;
    background-color: #161616;
    border-right: 2px solid rgb(125, 128, 132);
    height: 130vh;
    width: 100%;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    transition: 0.5s;
}

.navlist ul{
    padding-top: 24px;
    padding-left: 24px;
}

.navlist li{
    padding: 10px;
}

.navlist a{
    color: rgb(125, 128, 132);
    font-family: var(--main-fontstyle);
    font-weight: bold;
    border-bottom: 1px solid transparent;
}

.navlist a:hover{
    color: white;
    border-bottom: 1px solid white;
}

#back-icon{
    color: rgb(125, 128, 132);
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
}

#back-icon:hover{
    color: white;
}

.social-links{
    font-family: var(--main-fontstyle);
    color: rgb(125, 128, 132);
    font-size: 1rem;
}

.social-icon{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px; 
}

.social-icon a{
    padding: 10px;
}

.social-icon i{
    padding-right: 10px;
    text-align: center;
}

.show{
    left: 0;
}

body.no-scroll{
    overflow: hidden;
}

/* hero section */
.hero{
    padding: 50px 24px;
}

.hero-text{
    width: auto;
}

.hero-text h1{
    color: white;
    font-family: var(--main-fontstyle);
    font-size: 2rem;
    font-weight: 600px;
    margin-bottom: 10px;
}

.hero-text p{
    color: white;
    font-family: var(--main-fontstyle);
    font-weight: bold;
    text-align: justify;
    width: auto;
    margin-bottom: 20px;
}

.hero-button {
   margin-top: 10px;
   display: flex;
   gap: 20px;
}

#hero-aboutbtn{
    color: rgb(220, 95, 0);
    font-weight: bold;
    font-family: var(--main-fontstyle);
    border-color: rgba(40, 40, 40, 1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    border-radius: 6px;
    background-color: rgb(28, 28, 28);
    padding: 8px 18px;
    font-size: 0.80rem;
}

#hero-aboutbtn:hover{
    transition: all .55s ease;
    color: white;
    background-color:rgb(220, 95, 0); 
    transform: translateX(8px);
}

#hero-getinbtn{
    color: rgb(220, 95, 0);
    font-weight: bold;
    font-family: var(--main-fontstyle);
    border-color: rgba(40, 40, 40, 1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    border-radius: 8px;
    padding: 8px 18px;
    font-size: 0.80rem;
}

#hero-getinbtn:hover{
    transition: all .55s ease;
    color: white;
    background-color:rgb(220, 95, 0); 
    transform: translateX(8px);
}

.hero-button i{
    padding-right: 8px;
}

/* About section */
#about{
    padding: 35px 24px;
}

.about-title{
    color: white;
    font-family: var(--main-fontstyle);
    font-size: 2rem;
    margin-bottom: 10px;
    width: auto;
}

.first-desc{
    color: white;
    font-family: var(--main-fontstyle);
    font-size: 0.90rem;
    width: auto;
    margin-bottom: 10px;
}

#about p{
    color: rgb(125, 128, 132);
    font-family: var(--main-fontstyle);
    font-size: 0.90rem;
    text-align: justify;
    margin-bottom: 18px;
    font-weight: bold;
}

#about span{
    color: rgb(220, 95, 0);

}

.about-buttons{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

#about-projectbtn{
    color: rgb(220, 95, 0);
    font-weight: bold;
    font-family: var(--main-fontstyle);
    border-color: rgba(40, 40, 40, 1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    border-radius: 6px;
    background-color: rgb(28, 28, 28);
    padding: 8px 18px;
    font-size: 0.80rem;
    cursor: pointer;
    transition: all .55s ease;
   
}

#about-projectbtn:hover{
    transition: all .55s ease;
    color: white;
    background-color:rgb(220, 95, 0); 
    transform: translateX(8px);
}

.aboutme-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    object-fit: cover;
    border-style: solid;
    border-radius: 50%;
    border-color: rgb(220, 95, 0); 
    margin-bottom: 10px;
}

.skills-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.skills-logo img{
    height: 80px;
    width: auto;
    object-fit: cover;
    margin-bottom: 15px;
}

.skills-title{
    color: white;
    font-family: var(--main-fontstyle);
    font-size: 1.50rem;
    margin-bottom: 10px;
    width: auto;
}

/* Services */
#services{
    padding: 35px 24px;
}

#services h1{
    color: white;
    font-family: var(--main-fontstyle);
    font-size: 2rem;
    margin-bottom: 10px;
    width: auto;
}

#services div{
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}

#services div:hover{
    background-color: rgb(220, 95, 0);
    transition: background 0.5s ease-in;
    transform: translateX(8px);
}

#service div, h2{
    color: black;
    font-family: var(--main-fontstyle);
    font-weight: bold;
    font-size: 1.80rem;
}

#service div, p{
    color: black;
    font-family: var(--main-fontstyle);
    font-weight: bold;
    text-align: justify;
}

.htmltag-icon{
    height: 80px;
    width: 80px;
}

/* project */
#project{
    padding: 35px 24px;
}
.project-title{
    color: white;
    font-family: var(--main-fontstyle);
    font-size: 2rem;
    margin-bottom: 10px;
    width: auto;
}

.second-title{
    color: white;
    font-family: var(--main-fontstyle);
    font-size: 0.90rem;
    width: auto;
    margin-bottom: 10px;
}

#project p{
    color: rgb(125, 128, 132);
    font-family: var(--main-fontstyle);
    font-size: 0.90rem;
    text-align: start;
    font-weight: bold;
}

.project-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.technology{
    height:auto;
    width: auto;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#technology-icon{
    font-size: 1.50rem;
}

.thumbnail{
    height: 60%;
    width: 50%;
    object-fit: cover;
    border-radius: 5px;
}

.project-info{
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-title{
    color: white;
    font-family: var(--main-fontstyle);
    font-size: 0.90rem;
    width: auto;
}

.project-link{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#project-icon{
    color: rgb(125, 128, 132);
    font-size: 1.80rem;
    cursor: pointer;
    border-radius: 8px;
    place-items: center;
}

#project-icon:hover{
    transition: all .55s ease;
    color: white;
    background-color:rgb(220, 95, 0); 
    transform: translateX(8px);
}

/* footer */
#contact{
    padding: 35px 24px;
    background-color: rgba(72, 68, 68, 0.521);
}
.contact-title{
    color: white;
    font-family: var(--main-fontstyle);
    font-size: 2rem;
    font-weight: 600px;
    margin-bottom: 10px;
}

.email-phoneNum{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

#envelope-icon, #phone-call-icon{
    color:  rgb(220, 95, 0);
    margin-right: 10px;
    font-size: 1.90rem;
}

.envelope, .phone-call{
    color: rgb(125, 128, 132);
    font-family: var(--main-fontstyle);
    font-size: 1rem;
    text-align: start;
    font-weight: bold;   
}

.contact-social-icon{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#contact-social{
    color:  rgb(220, 95, 0);
    margin-right: 10px;
    font-size: 1.90rem;
}

#footer-getintouch{
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.question-title{
    color: rgb(125, 128, 132);
    font-size: 1rem;
    text-align: center;
}

.getintouch-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.getintouch-title{
    color: black;
    font-family: var(--main-fontstyle);
    font-size: 2rem;
    font-weight: 600px;
}

.getintouch-desc{
    text-align: justify;
}

.letstalk-btn{
    color: rgb(220, 95, 0);
    font-weight: bold;
    font-family: var(--main-fontstyle);
    border-color: rgba(40, 40, 40, 1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    border-radius: 6px;
    background-color: rgb(28, 28, 28);
    padding: 8px 18px;
    font-size: 0.80rem;
}

.letstalk-btn:hover{
    transition: all .55s ease;
    color: white;
    background-color:rgb(220, 95, 0); 
    transform: translateX(8px);
}






